<div class="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="javascript:void(0)" class="simple-text logo-mini">
          ط م
        </a>
        <a href="javascript:void(0)" class="simple-text logo-normal">
          توقيت الإبداعية
        </a>
      </div>
      <ul class="nav">
        <li>
          <a href="/">
            <i class="tim-icons icon-chart-pie-36"></i>
            <p>لوحة القيادة</p>
          </a>
        </li>
        <li class="active">
          <a data-toggle="collapse" href="#pagesExamples">
            <i class="tim-icons icon-image-02"></i>
            <p>
              صفحات
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse  show " id="pagesExamples">
            <ul class="nav">
              <li>
                <a href="/page-pricing.html">
                  <span class="sidebar-mini-icon">ع</span>
                  <span class="sidebar-normal"> التسعير </span>
                </a>
              </li>
              <li class="active">
                <a href="/page-rtl.html">
                  <span class="sidebar-mini-icon">صو</span>
                  <span class="sidebar-normal"> دعم رتل </span>
                </a>
              </li>
              <li>
                <a href="/page-timeline.html">
                  <span class="sidebar-mini-icon">تي</span>
                  <span class="sidebar-normal"> الجدول الزمني </span>
                </a>
              </li>
              <li>
                <a href="/page-login.html">
                  <span class="sidebar-mini-icon">هعذا</span>
                  <span class="sidebar-normal"> تسجيل الدخول </span>
                </a>
              </li>
              <li>
                <a href="/page-register.html">
                  <span class="sidebar-mini-icon">صع</span>
                  <span class="sidebar-normal"> تسجيل </span>
                </a>
              </li>
              <li>
                <a href="/page-lock.html">
                  <span class="sidebar-mini-icon">هذاع</span>
                  <span class="sidebar-normal"> اقفل الشاشة </span>
                </a>
              </li>
              <li>
                <a href="/page-user.html">
                  <span class="sidebar-mini-icon">شع</span>
                  <span class="sidebar-normal"> ملف تعريفي للمستخدم </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#componentsExamples">
            <i class="tim-icons icon-molecule-40"></i>
            <p>
              المكونات
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse " id="componentsExamples">
            <ul class="nav">
              <li>
                <a data-toggle="collapse" aria-expanded="false" href="#multicollapse">
                  <span class="sidebar-mini-icon">ر</span>
                  <span class="sidebar-normal"> انهيار متعدد المستويات
                    <b class="caret"></b>
                  </span>
                </a>
                <div class="collapse" id="multicollapse">
                  <ul class="nav">
                    <li>
                      <a>
                        <span class="sidebar-mini-icon">ش</span>
                        <span class="sidebar-normal"> مثال </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="/components-buttons.html">
                  <span class="sidebar-mini-icon">ب</span>
                  <span class="sidebar-normal"> وصفت </span>
                </a>
              </li>
              <li>
                <a href="/components-grid.html">
                  <span class="sidebar-mini-icon">زو</span>
                  <span class="sidebar-normal"> نظام الشبكة </span>
                </a>
              </li>
              <li>
                <a href="/components-panels.html">
                  <span class="sidebar-mini-icon">ع</span>
                  <span class="sidebar-normal"> لوحات </span>
                </a>
              </li>
              <li>
                <a href="/components-sweet-alert.html">
                  <span class="sidebar-mini-icon">ومن</span>
                  <span class="sidebar-normal"> التنبيه الحلو </span>
                </a>
              </li>
              <li>
                <a href="/components-notifications.html">
                  <span class="sidebar-mini-icon">ن</span>
                  <span class="sidebar-normal"> إخطارات </span>
                </a>
              </li>
              <li>
                <a href="/components-icons.html">
                  <span class="sidebar-mini-icon">و</span>
                  <span class="sidebar-normal"> الرموز </span>
                </a>
              </li>
              <li>
                <a href="/components-typography.html">
                  <span class="sidebar-mini-icon">ر</span>
                  <span class="sidebar-normal"> طباعة </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#formsExamples">
            <i class="tim-icons icon-notes"></i>
            <p>
              إستمارات
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse " id="formsExamples">
            <ul class="nav">
              <li>
                <a href="/forms-regular.html">
                  <span class="sidebar-mini-icon">صو</span>
                  <span class="sidebar-normal"> أشكال منتظمة </span>
                </a>
              </li>
              <li>
                <a href="/forms-extended.html">
                  <span class="sidebar-mini-icon">هوو</span>
                  <span class="sidebar-normal"> أشكال موسعة </span>
                </a>
              </li>
              <li>
                <a href="/forms-validation.html">
                  <span class="sidebar-mini-icon">تو</span>
                  <span class="sidebar-normal"> نماذج التحقق </span>
                </a>
              </li>
              <li>
                <a href="/forms-wizard.html">
                  <span class="sidebar-mini-icon">ث</span>
                  <span class="sidebar-normal"> ساحر </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#tablesExamples">
            <i class="tim-icons icon-puzzle-10"></i>
            <p>
              الجداول
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse " id="tablesExamples">
            <ul class="nav">
              <li>
                <a href="/tables-regular.html">
                  <span class="sidebar-mini-icon">صر</span>
                  <span class="sidebar-normal"> الجداول العادية </span>
                </a>
              </li>
              <li>
                <a href="/tables-extended.html">
                  <span class="sidebar-mini-icon">هور</span>
                  <span class="sidebar-normal"> الجداول الموسعة </span>
                </a>
              </li>
              <li>
                <a href="/tables-datatables.net.html">
                  <span class="sidebar-mini-icon">در</span>
                  <span class="sidebar-normal"> جداول البيانات صافي </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" href="#mapsExamples">
            <i class="tim-icons icon-pin"></i>
            <p>
              خرائط
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse " id="mapsExamples">
            <ul class="nav">
              <li>
                <a href="/maps-google.html">
                  <span class="sidebar-mini-icon">زم</span>
                  <span class="sidebar-normal"> خرائط جوجل </span>
                </a>
              </li>
              <li>
                <a href="/maps-fullscreen.html">
                  <span class="sidebar-mini-icon">ووم</span>
                  <span class="sidebar-normal"> خريطة كاملة الشاشة </span>
                </a>
              </li>
              <li>
                <a href="/maps-vector.html">
                  <span class="sidebar-mini-icon">تم</span>
                  <span class="sidebar-normal"> سهم التوجيه، الخريطة </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/widgets.html">
            <i class="tim-icons icon-settings"></i>
            <p>الحاجيات</p>
          </a>
        </li>
        <li>
          <a href="/charts.html">
            <i class="tim-icons icon-chart-bar-32"></i>
            <p>الرسوم البيانية</p>
          </a>
        </li>
        <li>
          <a href="/calendar.html">
            <i class="tim-icons icon-time-alarm"></i>
            <p>التقويم</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  